body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}


header {
    background: #0a6efd;
    color: white;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}


.hero {
    text-align: center;
    padding: 60px;
    background: url("/photo-1507525428034-b723cf961d3e.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

 

.btn {
    background: #0a6efd;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}


.section {
    text-align: center;
    padding: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
}


.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}


form {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


footer {
    text-align: center;
    padding: 15px;
    background: #0a6efd;
    color: white;
    margin-top: 20px;
}


@media (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
